################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DifferentialEvolution/__pycache__
/DifferentialEvolution/opencv-logo2.png
/DifferentialEvolution/IMG_1255_DLXFFNICKLT_c_withGaussFilter_sig2-SEG_Test-01_10_2019-10_27_27-250-2.jpg
/DifferentialEvolution/IMG_1255_DLXFFNICKLT_c_withGaussFilter_sig2-SEG_Test-01_10_2019-10_27_12-250-2.jpg
/DifferentialEvolution/IMG_1255_DLXFFNICKLT_c_withGaussFilter_sig2-SEG_Test-01_10_2019-10_26_59-250-2.jpg
/DifferentialEvolution/IMG_1255_DLXFFNICKLT_c_withGaussFilter_sig2-SEG_Test-01_10_2019-10_26_43-250-2.jpg
/DifferentialEvolution/IMG_1255_DLXFFNICKLT_c_withGaussFilter_sig2-SEG_Test-01_10_2019-10_26_24-250-2.jpg
/DifferentialEvolution/IMG_1255_DLXFFNICKLT_c_withGaussFilter_sig0,73_order2-SEG_Test-01_10_2019-10_47_14-250-2.jpg
/DifferentialEvolution/IMG_1255_DLXFFNICKLT_c_withGaussFilter_sig0,73_order2-SEG_Test-01_10_2019-10_46_35-250-2.jpg
/DifferentialEvolution/IMG_1255_DLXFFNICKLT_c_withGaussFilter_sig0,73_order2-SEG_Test-01_10_2019-10_45_50-250-2.jpg
/DifferentialEvolution/IMG_1255_DLXFFNICKLT_c_withGaussFilter_sig0,73_order2-SEG_Test-01_10_2019-10_45_32-250-2.jpg
/DifferentialEvolution/IMG_1255_DLXFFNICKLT_c_withGaussFilter_sig0,73_order2-SEG_Test-01_10_2019-10_45_13-250-2.jpg
/DifferentialEvolution/IMG_1255_DLXFFNICKLT_c-SEG_Test-04_10_2019-13_12_59-750-4.jpg
/DifferentialEvolution/IMG_1255_DLXFFNICKLT_c-SEG_Test-04_10_2019-12_41_26-750-4.jpg
/DifferentialEvolution/IMG_1255_DLXFFNICKLT_c-SEG_Test-04_10_2019-12_28_26-750-4.jpg
/DifferentialEvolution/IMG_1255_DLXFFNICKLT_c-SEG_Test-04_10_2019-12_24_13-750-4.jpg
/DifferentialEvolution/IMG_1255_DLXFFNICKLT_c-SEG_Test-04_10_2019-12_20_44-750-4.jpg
/DifferentialEvolution/IMG_1255_DLXFFNICKLT_c-SEG_Test-04_10_2019-12_14_53-750-4.jpg
/DifferentialEvolution/IMG_1255_DLXFFNICKLT_c-SEG_Test-04_10_2019-12_12_37-750-4.jpg
/DifferentialEvolution/IMG_1255_DLXFFNICKLT_c-SEG_Test-04_10_2019-12_09_00-500-5.jpg
/DifferentialEvolution/IMG_1255_DLXFFNICKLT_c-SEG_Test-04_10_2019-12_06_57-500-5.jpg
/DifferentialEvolution/IMG_1255_DLXFFNICKLT_c-SEG_Test-04_10_2019-12_04_55-500-5.jpg
/DifferentialEvolution/IMG_1255_DLXFFNICKLT_c-SEG_Test-04_10_2019-12_02_24-500-5.jpg
/DifferentialEvolution/IMG_1255_DLXFFNICKLT_c-SEG_Test-04_10_2019-11_59_22-250-5.jpg
/DifferentialEvolution/IMG_1255_DLXFFNICKLT_c-SEG_Test-04_10_2019-11_57_42-250-5.jpg
/DifferentialEvolution/IMG_1255_DLXFFNICKLT_c-SEG_Test-04_10_2019-11_55_55-250-5.jpg
/DifferentialEvolution/IMG_1255_DLXFFNICKLT_c-SEG_Test-04_10_2019-11_54_39-250-5.jpg
/DifferentialEvolution/IMG_1255_DLXFFNICKLT_c-SEG_Test-02_10_2019-17_25_35-250-5.jpg
/DifferentialEvolution/IMG_1255_DLXFFNICKLT_c-SEG_Test-01_10_2019-12_51_12-250-5.jpg
/DifferentialEvolution/IMG_1255_DLXFFNICKLT_c-SEG_Test-01_10_2019-12_50_08-250-5.jpg
/DifferentialEvolution/IMG_1255_DLXFFNICKLT_c-SEG_Test-01_10_2019-12_48_44-250-5.jpg
/DifferentialEvolution/IMG_1255_DLXFFNICKLT_c-SEG_Test-01_10_2019-12_47_07-250-5.jpg
/DifferentialEvolution/IMG_1255_DLXFFNICKLT_c-SEG_Test-01_10_2019-12_45_57-250-5.jpg
/DifferentialEvolution/IMG_1255_DLXFFNICKLT_c-SEG_Test-01_10_2019-10_20_11-250-2.jpg
/DifferentialEvolution/IMG_1255_DLXFFNICKLT_c-SEG_Test-01_10_2019-10_19_54-250-2.jpg
/DifferentialEvolution/IMG_1255_DLXFFNICKLT_c-SEG_Test-01_10_2019-10_19_33-250-2.jpg
/DifferentialEvolution/IMG_1255_DLXFFNICKLT_c-SEG_Test-01_10_2019-10_19_14-250-2.jpg
/DifferentialEvolution/IMG_1255_DLXFFNICKLT_c-SEG_Test-01_10_2019-10_18_59-250-2.jpg
/DifferentialEvolution/IMG_1255_DLXFFNICKLT_c-SEG_Plot-04_10_2019-13_12_59-750-4.jpg
/DifferentialEvolution/IMG_1255_DLXFFNICKLT_c-SEG_Plot-04_10_2019-12_41_26-750-4.jpg
/DifferentialEvolution/IMG_1255_DLXFFNICKLT_c-SEG_Plot-04_10_2019-12_31_16-750-4.jpg
/DifferentialEvolution/IMG_1255_DLXFFNICKLT_c-SEG_Plot-04_10_2019-12_28_26-750-4.jpg
/DifferentialEvolution/IMG_1255_DLXFFNICKLT_c-SEG_Plot-04_10_2019-12_24_13-750-4.jpg
/DifferentialEvolution/IMG_1255_DLXFFNICKLT_c-SEG_Plot-04_10_2019-12_20_44-750-4.jpg
/DifferentialEvolution/IMG_1255_DLXFFNICKLT_c-SEG_Plot-04_10_2019-12_14_53-750-4.jpg
/DifferentialEvolution/IMG_1255_DLXFFNICKLT_c-SEG_Plot-04_10_2019-12_12_37-750-4.jpg
/DifferentialEvolution/IMG_1255_DLXFFNICKLT_c-SEG_Plot-04_10_2019-12_09_00-500-5.jpg
/DifferentialEvolution/IMG_1255_DLXFFNICKLT_c-SEG_Plot-04_10_2019-12_06_57-500-5.jpg
/DifferentialEvolution/IMG_1255_DLXFFNICKLT_c-SEG_Plot-04_10_2019-12_04_55-500-5.jpg
/DifferentialEvolution/IMG_1255_DLXFFNICKLT_c-SEG_Plot-04_10_2019-12_02_24-500-5.jpg
/DifferentialEvolution/IMG_1255_DLXFFNICKLT_c-SEG_Plot-04_10_2019-11_59_22-250-5.jpg
/DifferentialEvolution/IMG_1255_DLXFFNICKLT_c-SEG_Plot-04_10_2019-11_57_42-250-5.jpg
/DifferentialEvolution/IMG_1255_DLXFFNICKLT_c-SEG_Plot-04_10_2019-11_55_55-250-5.jpg
/DifferentialEvolution/IMG_1255_DLXFFNICKLT_c-SEG_Plot-04_10_2019-11_54_39-250-5.jpg
/DifferentialEvolution/IMG_1255_DLXFFNICKLT_c-SEG_Plot-04_10_2019-10_10_52-250-5.png
/DifferentialEvolution/DE_Results.pdf
/DifferentialEvolution/cameraman1.png
/DifferentialEvolution/cameraman0.png
/DifferentialEvolution/IMG_1255_DLXFFNICKLT_c-SEG_Test-07_10_2019-14_16_55-300-4.jpg
/DifferentialEvolution/IMG_1255_DLXFFNICKLT_c-SEG_Test-07_10_2019-14_14_59-300-4.jpg
/DifferentialEvolution/IMG_1255_DLXFFNICKLT_c-SEG_Test-07_10_2019-14_10_39-300-4.jpg
/DifferentialEvolution/IMG_1255_DLXFFNICKLT_c-SEG_Test-07_10_2019-14_02_58-300-4.jpg
/DifferentialEvolution/IMG_1255_DLXFFNICKLT_c-SEG_Test-07_10_2019-13_23_45-300-4.jpg
/DifferentialEvolution/IMG_1255_DLXFFNICKLT_c-SEG_Test-07_10_2019-13_22_52-300-4.jpg
/DifferentialEvolution/IMG_1255_DLXFFNICKLT_c-SEG_Test-07_10_2019-13_21_34-300-4.jpg
/DifferentialEvolution/IMG_1255_DLXFFNICKLT_c-SEG_Test-07_10_2019-13_20_27-300-4.jpg
/DifferentialEvolution/IMG_1255_DLXFFNICKLT_c-SEG_Test-07_10_2019-13_18_53-300-4.jpg
/DifferentialEvolution/IMG_1255_DLXFFNICKLT_c-SEG_Test-07_10_2019-13_12_27-300-4.jpg
/DifferentialEvolution/IMG_1255_DLXFFNICKLT_c-SEG_Test-07_10_2019-13_11_21-300-4.jpg
/DifferentialEvolution/IMG_1255_DLXFFNICKLT_c-SEG_Test-07_10_2019-13_08_19-300-4.jpg
/DifferentialEvolution/IMG_1255_DLXFFNICKLT_c-SEG_Test-07_10_2019-13_06_44-300-4.jpg
/DifferentialEvolution/IMG_1255_DLXFFNICKLT_c-SEG_Test-07_10_2019-10_20_46-300-4.jpg
/DifferentialEvolution/IMG_1255_DLXFFNICKLT_c-SEG_Test-07_10_2019-10_18_40-300-4.jpg
/DifferentialEvolution/IMG_1255_DLXFFNICKLT_c-SEG_Test-07_10_2019-10_17_46-300-4.jpg
/DifferentialEvolution/IMG_1255_DLXFFNICKLT_c-SEG_Test-07_10_2019-10_15_44-300-4.jpg
/DifferentialEvolution/IMG_1255_DLXFFNICKLT_c-SEG_Test-07_10_2019-10_13_08-750-4.jpg
/DifferentialEvolution/IMG_1255_DLXFFNICKLT_c-SEG_Test-07_10_2019-10_08_09-750-4.jpg
/DifferentialEvolution/IMG_1255_DLXFFNICKLT_c-SEG_Test-07_10_2019-09_53_14-750-4.jpg
/DifferentialEvolution/IMG_1255_DLXFFNICKLT_c-SEG_Test-07_10_2019-09_43_36-750-4.jpg
/DifferentialEvolution/IMG_1255_DLXFFNICKLT_c-SEG_Test-07_10_2019-09_40_37-750-4.jpg
/DifferentialEvolution/IMG_1255_DLXFFNICKLT_c-SEG_Plot-07_10_2019-14_16_55-300-4.jpg
/DifferentialEvolution/IMG_1255_DLXFFNICKLT_c-SEG_Plot-07_10_2019-14_14_59-300-4.jpg
/DifferentialEvolution/IMG_1255_DLXFFNICKLT_c-SEG_Plot-07_10_2019-14_10_39-300-4.jpg
/DifferentialEvolution/IMG_1255_DLXFFNICKLT_c-SEG_Plot-07_10_2019-14_02_58-300-4.jpg
/DifferentialEvolution/IMG_1255_DLXFFNICKLT_c-SEG_Plot-07_10_2019-13_23_45-300-4.jpg
/DifferentialEvolution/IMG_1255_DLXFFNICKLT_c-SEG_Plot-07_10_2019-13_22_52-300-4.jpg
/DifferentialEvolution/IMG_1255_DLXFFNICKLT_c-SEG_Plot-07_10_2019-13_21_34-300-4.jpg
/DifferentialEvolution/IMG_1255_DLXFFNICKLT_c-SEG_Plot-07_10_2019-13_20_27-300-4.jpg
/DifferentialEvolution/IMG_1255_DLXFFNICKLT_c-SEG_Plot-07_10_2019-13_18_53-300-4.jpg
/DifferentialEvolution/IMG_1255_DLXFFNICKLT_c-SEG_Plot-07_10_2019-13_12_27-300-4.jpg
/DifferentialEvolution/IMG_1255_DLXFFNICKLT_c-SEG_Plot-07_10_2019-13_11_21-300-4.jpg
/DifferentialEvolution/IMG_1255_DLXFFNICKLT_c-SEG_Plot-07_10_2019-13_08_19-300-4.jpg
/DifferentialEvolution/IMG_1255_DLXFFNICKLT_c-SEG_Plot-07_10_2019-13_06_44-300-4.jpg
/DifferentialEvolution/IMG_1255_DLXFFNICKLT_c-SEG_Plot-07_10_2019-10_20_46-300-4.jpg
/DifferentialEvolution/IMG_1255_DLXFFNICKLT_c-SEG_Plot-07_10_2019-10_18_40-300-4.jpg
/DifferentialEvolution/IMG_1255_DLXFFNICKLT_c-SEG_Plot-07_10_2019-10_17_46-300-4.jpg
/DifferentialEvolution/IMG_1255_DLXFFNICKLT_c-SEG_Plot-07_10_2019-10_15_44-300-4.jpg
/DifferentialEvolution/IMG_1255_DLXFFNICKLT_c-SEG_Plot-07_10_2019-10_13_08-750-4.jpg
/DifferentialEvolution/IMG_1255_DLXFFNICKLT_c-SEG_Plot-07_10_2019-10_08_09-750-4.jpg
/DifferentialEvolution/IMG_1255_DLXFFNICKLT_c-SEG_Plot-07_10_2019-09_53_14-750-4.jpg
/DifferentialEvolution/IMG_1255_DLXFFNICKLT_c-SEG_Plot-07_10_2019-09_43_36-750-4.jpg
/DifferentialEvolution/IMG_1255_DLXFFNICKLT_c-SEG_Plot-07_10_2019-09_40_37-750-4.jpg
IMG_*-*.jpg
*.suo
